<div class="jumbotron">
  <h1>Los Reyes Magos</h1>
  <p class="lead">
    <img src="images/magos.png" alt="Los Reyes Magos"><br>
    <h6>Control de la inmigración ilegal (modificada), por
    <a href="https://www.flickr.com/photos/martius/16142647896/in/photostream/">Martius</a>
    <a href="https://creativecommons.org/licenses/by/2.0/">(CC-BY)</a>
  </h6>
    <h2>¡Bienvenidos a la Magia de Oriente!</h2>
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">¡Comienza!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
